#main {
    border-style:solid;
    border-color:palevioletred;
    border-width: 2px;
}

.pink {
    color:rgb(29, 7, 7);
}


@media (min-width: 600px) {
    
    #container {
        display: flex;
    }

    #main{
        width:70%;
    }

    #sidebar {
        width:30%;
    }
}

@media (min-width: 300px) {
    
    #container2 {
        display: flex;
    }

    #main2{
        width:50%;
    }

    #sidebar2 {
        width:50%;
    }
}
